.input-control {
	& .formInput {
		max-width: 100%;
		display: block;
		border-radius: 0.6rem;
		height: 6rem;
		border: 1px solid #333;
		padding: 2rem 3rem;
		font-size: 1.6rem;
		margin: 0 0 2.4rem 0;

		&::placeholder {
			color: #132743;
		}
	}

	& .formInput-full {
		width: 54rem;
	}

	& .formInput-half {
		width: 25.5rem;
	}

	& .label-full {
		width: 54rem;
	}

	& .label-half {
		width: 25.5rem;
	}

	& .input-control__error {
		margin-bottom: 2.4rem;
	}
}
