#root {
  
  min-height: 100vh;

  & * {
    box-sizing: border-box;
  }
}

.App {
  margin: 0 auto;
}

h1 {
  font-size: 7.2rem;
  line-height: 8.64rem;
  font-weight: 700;
}
h2 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.32rem;
}
h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.16rem;
}